@import "vars";
@import "mixins";

#clock {
  font-family: clockfont;
  font-size: large;

  &.init {
    opacity: 1;
    color: white;
  }

  &.running {
    opacity: 1;
    color: white;
  }
}

@font-face {
  font-family: clockfont;
/*  src: url(//static.zoidtechnologies.com/digital-7-mono.ttf); */
}

@include keyframes(blink)
{
  0% {
  	opacity: 1;
  }
  100% {
  	opacity: 0;
  }
}

