@import "vars";
@import "mixins";

@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(fadeOut) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(slideinfromright) {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/*
.scene .scene-element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
*/

.scene .scene-element--fadein {
  animation-name: fadeIn;
}

.scene .scene-element--slideinfromright {
  animation-name: slideinfromright;
}

.scene.is-exiting .scene-element {
  animation-direction: alternate-reverse;
}
