/* http://stackoverflow.com/questions/6587807/comma-delimited-lists-with-css-i-want-an-oxford-comma */

/*
ul.siglist {
  border: 0px solid red;
  display: inline; 
  margin: 0;
  padding: 0;
}

ul.siglist li {
  display: inline;
  padding: 0.125em;
  margin: 0;  
}

ul.siglist li:after {
  content: ", ";
}
  
ul.siglist li:last-child:after {
    content: "";
}

ul.siglist li:nth-last-child(2):after {
  content: " and ";
}

ul.siglist li:nth-last-child(3) + li:after {
  content: ", and ";
}
*/
