<div class="panel">
<p align="center">Southern Sales: Building Quality Hydraulic Dump Trailers, Car Haulers &amp; Equipment Trailers for Over 25 Years</p>
<div style="float: left; width: 75%; text-align: center;">
Southern Sales, Inc.<br />
1906 Geer Hwy. (276)<br />
P.O. Box 1106 <br />
Travelers Rest, South Carolina 29690<br />
<br /><br />
Office: 864-836-8143<br />
Fax: 864-836-7039<br />
<a href="mailto:sales@ssitrailers.com">sales@ssitrailers.com</a><br>
<br>
Monday-Friday 8:30 am - 5:00 pm<br /><br />
<a target="_blank" href="http://maps.google.com/maps?q=1906+Geer+Hwy.+(276)+Travelers+Rest,+South+Carolina+29690&hnear=1906+Geer+Hwy,+Travelers+Rest,+South+Carolina+29690&gl=us&t=m&z=14"><img border="0" src="{$smarty.const.SKINURL}art/map.jpg" width="356" height="306"></a><br />

Click on Map
</div>
<div style="float: left;">
<img border="0" src="{$smarty.const.SKINURL}art/Billy02.jpg" width="83" height="97"><br />
Billy Hawkins<br />
President<br />
<br />
<img border="0" src="{$smarty.const.SKINURL}art/Linda-web02.jpg" width="84" height="105"><br />
Linda Hawkins<br />
Vice President<br />
<a href="mailto:linda@ssitrailers.com?subject=email from Website">Email</a>
<br>
<br>
<img border="0" src="{$smarty.const.SKINURL}art/Pam-web02.jpg" width="84" height="105" /><br />
Pam Bryant<br />
Office Manager<br />
<a href="mailto:pam@ssitrailers.com?subject=email from Website">Email</a><br /><br />
<img border="0" src="{$smarty.const.SKINURL}art/Vickie-Basden.jpg" width="85" height="105"><br>
Vickie Basden<br>
Administrative Assistant
</div>
</div> {* panel *}
