<div class="blurb">
<div class="header"><h1>demeter</h1></div>
<div class="body">

<p>This site is a <b>working</b> prototype of a site to automate specific
craigslist searches and send email when there are new or changed search
results. It is monetized by selling premium memberships at various levels allowing for a certain number of searches per level of membership (bronze, silver, gold, etc).</p>

<h1>Features &amp; Benefits</h1>
<ul>
<li>use of the smoothState jquery plugin gives customers the impression that pages are loading faster and they transition smoothly instead of being displayed all at once.</li>
</ul>
<h1>Technical Details</h1>
<p>All of these software components are <a href="//opensource.org/">open source</a></p>
<ul>
<li><a href="http://php.net/">PHP</a> 5.4.x (popular web application programming language, shipped with centos 7.x)</li>
<li><a href="http://www.w3schools.com/css/css3_intro.asp">CSS3</a> (cascading style sheets, version 3)</li>
<li><a href="http://www.w3schools.com/html/html5_new_elements.asp">HTML5</a> (markup language, version 5)</li>
<li><a href="//postgresql.org/">Postgresql</a> 9.2.x (relational database management system)</li>
<li><a href="//pear.php.net/">PEAR</a> (PHP Extension Application Repository)</li>
<li><a href="//smarty.net/">Smarty3</a> (template engine)</li>
<li><a href="//bbsengine.org/">bbsengine3</a> (in house web application framework, in development and production use since ~2002, proudly <a href="https://opensource.org/licenses/LGPL-3.0">LGPLv3</a>)</li>
<li><a href="//centos.org/">CentOS</a> 7 (operating system -- linux)</li>
<li><a href="//apache.org/">Apache</a> 2.4.x (popular web server, shipped with centos 7.x)</li>
<li><a href="//vanilla-js.com/">Javascript</a> (popular and built-in browser-based programming language)</li>
<li><a href="//jquery.com/">jquery</a> (javascript library)</li>
<li><a href="//github.com/miguel-perez/smoothState.js/blob/master/README.md">jquery.smoothState</a> (jquery plugin for page transitions)</li>
</ul>
{*
<h1>What Works</h1>
<ul>
<li>register/login/logout customer and site administrator accounts</li>
<li>adding items to cart (RFQ)</li>
<li>catalog</li>
<li>contact page</li>
<li>add/edit trailers</li>
<li>add/edit folders</li>
<li>if logged into an account when an item is added to the cart, it will be
available the next time that account is used.  if not logged into an
account, the cart will expire after 8 hours</li>
</ul>
<h1>What does not <i>yet</i> work</h1>
<ul>
<li>pages other than contact and catalog copied from original ssitrailers.com site</li>
<li>generating PDF of RFQ and emailing it to office</li>
<li>web browser editing of "more info" page for trailers, "history", "quality", etc pages</li>
<li>delete trailer from catalog</li>
<li>order history (more than one order per site account)</li>
</ul>
*}
</div> {* body *}
</div> {* blurb *}
