{* base template for all notifies: terse, detail, and popup modes *}
<div class="blurb notify {$mode} noborder">
{if $mode == "popup"}<span class="closebutton fa fa-remove"></span>{/if}
<div class="body">{block name="message"}{/block}</div>
<div class="footer">
{include file="actions.tmpl" actions=$notify.actions}
{* <p>notify.type={$notify.type}</p>  *}
{*<br /><pre>{$notify.data|var_dump}</pre> *}
<div style="float: right; width: 50%; text-align: right; font-size: 0.75em;">Sent: {$notify.datecreatedepoch|datestamp}<br />{$notify.type} #{$notify.id}</div>
</div> {* footer *}
</div> {* notify *}
