<footer id="pagefooter" class="panel">
<ul class="inlinelist">
<li>[ Powered By: <a href="http://zoidtechnologies.com/">Zoid Technologies</a> ]</li>
{* <li>[ Credits ] </li> *}
{* <li>[ Privacy ] </li> *}
</ul>

<div class="badges">
<ul class="inlinelist">
{* <li><a title="validate xhtml" href="http://validator.w3.org/check?uri=referer"><img src="{$smarty.const.STATICSKINURL}art/xhtml-logo.png" alt="validate xhtml" /></a></li> *}
<li><a title="powered by smarty3" href="http://smarty.net/"><img src="{$smarty.const.STATICSKINURL}art/smarty-80x15.png" alt="powered by smarty" /></a></li>
<li><a title="powered by postgresql" href="http://postgresql.org/"><img src="{$smarty.const.STATICSKINURL}art/postgresql-80x16.gif" alt="powered by postgresql" /></a></li>
<li><a title="powered by bbsengine3" href="http://bbsengine.org/"><img src="{$smarty.const.STATICSKINURL}art/bbsengine2-badge.png?id=demeter" alt="powered by bbsengine3" /></a></li>
<li><a title="powered by php5" href="http://php.net/"><img src="{$smarty.const.STATICSKINURL}art/php5-power-micro.png" alt="powered by php5" /></a></li>
<li><a title="powered by pear" href="http://pear.php.net/"><img src="{$smarty.const.STATICSKINURL}art/pear-blogbutton1.png" alt="powered by pear" /></a></li>
{* <li><a title="powered by tinymce" href="http://tinymce.moxiecode.com?id=powered_by_tinymce_mini"><img src="{$smarty.const.STATICSKINURL}art/tinymce_button.png" width="80" height="15" alt="Powered by TinyMCE" /></a></li> *}
{* <li><a title="validate css" href="http://jigsaw.w3.org/css-validator/check/referer"><img src="{$smarty.const.STATICSKINURL}art/css-logo.png" alt="validate css" /></a></li> *}
</ul>
</div> {* badges *}
{if isset($mantra)}
  <div class="mantra">
   {$mantra.description|escape|wpprop} - {$mantra.author|escape|wpprop}
   {include file="actions.tmpl" actions=$mantra.actions}
  </div>
{/if}
<div class="copyright">Engine: Copyright &copy; 2002-2016 Zoid Technologies. All Rights Reserved. Design: Copyright &copy; 2016 Zoid Technologies. All Rights Reserved.</div>
</footer>
