<div class="panel" id="pageheader">
{* <div class="logo"><img src="/skin/art/ssilogo03-26-2013.jpg" /></div> *}
{* <div class="logo"><img src="/skin/art/zoidtechnologies167x73.png" /></div> *}
<div class="other">
<div class="sitetitle">{$title|escape|default:$smarty.const.SITETITLE}</div>
{* <div class="address">company name, inc. &bull; street address &bull; city, state, zipcode &bull; 864-YYY-XXXX</div> *}
</div> {* other *}
</div>
