<div class="blurb redirectpage">
<div class="header">
<h1>Page Redirect</h1>
</div> {* header *}
<div class="body">
<p>{$message}</p>
<p>This page should automagically redirect in
 <span class="counter">{$delay}</span> <span class="noun">seconds</span>. if not, use this link: <a href="{$url}">&lt;{$url}&gt;</a></p>
</div> {* body *}
</div> {* redirectpage *}
