{if !empty($data)}
<div class="blurb sidebar">
<div class="header"><h1>menu</h1></div>
<nav>
<ul>
{foreach from=$data item=m}
{if ($currentsite == $m.name and $currentpage == "index") or ($currentsite == "www" and $currentpage == $m.name)}
<li class="currentsite">{$m.title|default:"NEEDTITLE"|escape|wpprop}</li>
{else}
<li><a href="{$m.url}" title="{$m.desc|escape|wpprop}">{$m.title|default:"NEEDTITLE"|escape}</a></li>
{/if}
{/foreach}
</ul>
<ul>
<li><a href="http://bbsengine.org/">bbsengine.org</a></li>
{* <li><span class="strike">vfw memorial post #10058</span></li> *}
</ul>
{*
{if $currentmemberid == 0}
<span class="fa fa-sign-in fw"></span> <a title="sign in" href="{$smarty.const.LOGINURL}">Login</a>
{else}
<span class="fa fa-sign-out fw"></span>&nbsp;<a title="sign out" href="{$smarty.const.LOGOUTURL}">Logout</a>
{/if}
*}
</nav>
</div> {* blurb sidebar *}

{/if} {* check for empty data *}
{*
<div class="blurb sidebar">
<ul>
<li>{include file="amazonsearch.tmpl"}</li>
</ul>
</div>
*}
